{% extends "core/base.html" %}
{% block title %} {{post.title}}{% endblock %}
{% load static %}

    
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">


   {%block content%} 
   <article class="blog-post px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <header class="blog-post-header">
            <h2 class="title mb-2">{{ post.title|safe }}</h2>
            <div class="meta mb-3"><span class="date">Published {{post.created_at | timesince }} ago</span></span></div>
        </header>
        
        <div class="blog-post-body">
            <p>Abstract: {{post.intro|safe}}</p>
            <figure class="blog-banner">
                {% if post.image %}
                <a><img class="img-fluid" src={{post.image.url}}></a>
                {% endif %}
            </figure>
           <p>{{ post.body|safe}}</p> 
            <pre>
    {%endblock%}
    

        
       
    
    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/blog.js"></script> 
</body>
</html> 